/* global */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000;
  max-width: 1440px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  width: 100%;
}

/*header*/
.header {
  background: url("../img/promo-bgc.jpg") top center no-repeat;
  background-size: cover;
}

.header__container {
  margin: 0 auto;
  width: 77.1%;
}

.header__toggle {
  display: none;
}

.header__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.header__item {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.header__item:nth-child(3) {
  margin-right: 300px;
}

/*promo*/
.promo {
  padding-top: 125px;
  padding-bottom: 38px;
}

.promo__title {
  margin: 0 auto;
  width: 600px;
  padding-bottom: 282px;
  font-weight: normal;
  font-size: 85px;
  line-height: 93px;
  text-align: center;
}

.promo__link {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 80px;
  background: url("../img/promo__arrow.svg") no-repeat;
  background-size: contain;
}

.promo__cookes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 30px;
  width: 392px;
  padding: 11px 10px 11px 26px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 78px;
}

.promo__text {
  margin: 0;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.promo__btn {
  padding: 0px 22px;
  border: 0;
  outline: 0;
  color: #000;
  background-color: #F5AFB9;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 17.5px;
}

/*products*/
.products {
  width: 100vw;
  max-width: 1440px;
  background-color: #ED7B49;
}

.products__container {
  display: flex;
  margin: 0 auto;
  padding: 76px 30px 100px;
  align-items: center;
  justify-content: center;
}

.products__img {
  background: url("../img/products-gluten.svg") no-repeat;
  background-size: contain;
  margin-right: 10%;
  width: 241px;
  height: 241px;
}

.products__info {
  width: 506px;
}

.products__title {
  margin: 0;
  padding-bottom: 12px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.products__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.products-goods img {
  width: auto;
}

.products-goods__title {
  position: absolute;
  bottom: 100px;
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.products-goods__price {
  display: block;
  margin: 0;
  margin-top: -30px;
  padding-bottom: 23px;
  font-size: 21px;
  line-height: 31px;
  font-weight: 700;
}

.products-goods__button {
  margin-left: 16px;
  padding: 10px 47px;
  border: 0;
  outline: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 36px;
}

.products-goods__button.button-green {
  background-color: #72A080;
}

.products-goods__button.button-brown {
  background-color: #A95D50;
}

.products-goods__button.button-purple {
  background-color: #ABAFD6;
}

.products-goods.swiper {
  width: 100%;
  height: 100%;
}

.products-goods .swiper-wrapper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 200px;
}

.products-goods .swiper-slide:first-child {
  margin-left: 47px;
}

.products-goods .swiper-slide:nth-child(odd) {
  padding-top: 142px;
}

/*way*/
.way {
  position: relative;
  background-color: #ED7B49;
  overflow-x: hidden;
}

.way .container {
  padding: 200px 100px 400px 160px;
}

.way__promo::after {
  position: absolute;
  content: "";
  background: url("../img/way-img.png") no-repeat;
  background-size: contain;
  width: 844px;
  height: 775px;
  left: 489px;
  top: 0;
}

.way__title {
  margin: 0;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: 85px;
  line-height: 93px;
}

.way__text {
  margin: 0;
  padding-bottom: 47px;
  width: 350px;
  font-size: 16px;
  line-height: 24px;
}

.way__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*nut*/
.nut {
  background-color: #ED7B49;
}

.nut .container {
  display: flex;
}

.promo-nut {
  position: relative;
  padding: 94px 250px 164px 165px;
  background-color: #BE5A4B;
  border-radius: 0px 220px 0px 0px;
  margin-right: 110px;
}

.promo-nut::after {
  position: absolute;
  content: "";
  background: url("../img/nut.png") no-repeat;
  background-size: contain;
  width: 350px;
  height: 529px;
  bottom: 59px;
  right: 17px;
}

.promo-nut__title {
  margin: 0;
  padding-bottom: 49px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
  width: 340px;
}

.promo-nut__prewiev {
  margin: 0;
  padding-bottom: 14px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.promo-nut__prewiev .carry {
  display: block;
}

.promo-nut__text {
  margin: 0;
  padding-bottom: 20px;
  width: 234px;
  font-size: 16px;
  line-height: 24px;
}

.promo-nut__box span {
  display: inline-block;
  padding-bottom: 46px;
  font-size: 21px;
  line-height: 31px;
}

.promo-nut__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

.enumeration-nut {
  padding-top: 94px;
}

.enumeration-nut__text {
  margin: 0;
  padding-bottom: 50px;
  font-size: 21px;
  line-height: 31px;
}

.enumeration-nut__item {
  padding-top: 45px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}

.enumeration-nut__item sup {
  font-size: 16px;
  line-height: 0px;
}

/*soul*/
.soul {
  background-color: #E9A8C6;
}

.soul .container {
  margin: 0 auto;
  padding-top: 129px;
  padding-bottom: 99px;
  width: 1000px;
}

.soul__wrapper {
  display: none;
}

.soul__wrapper.show {
  display: flex;
  text-align: center;
}

.soul__box {
  position: relative;
  padding-left: 114px;
  padding-right: 114px;
}

.soul__box::before {
  position: absolute;
  content: "";
  background: url("../img/lips.svg");
  width: 93px;
  height: 111px;
  top: -128px;
  left: 50%;
  transform: translateX(-50%);
}

.soul__title {
  margin: 0 auto;
  padding-bottom: 85px;
  width: 105px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.soul__voice {
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.soul__text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
}

.soul__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soul__tabs .tab {
  padding: 0;
  background-color: #000;
  width: 10px;
  height: 10px;
  border: none;
  outline: none;
  transition: background-color 0.15s ease-in-out;
}

.soul__tabs .tab.active {
  background-color: transparent;
  border: 1px solid #000;
}

.soul__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

/*store*/
.store {
  position: relative;
  background-color: #F5AFB9;
  overflow-x: hidden;
}

.store::after {
  position: absolute;
  content: "";
  background: url("../img/store.png") no-repeat;
  background-size: contain;
  width: 887px;
  height: 738px;
  top: 200px;
  left: 554px;
}

.store::before {
  position: absolute;
  content: "";
  background: url("../img/plastic.svg") no-repeat;
  background-size: contain;
  width: 282px;
  height: 282px;
  top: 65px;
  left: 350px;
}

.store .container {
  display: flex;
  justify-content: space-between;
  padding: 200px 100px 400px 165px;
  margin: 0;
  width: 100%;
}

.store__promo {
  padding-top: 149px;
}

.store__title {
  margin: 0;
  width: 400px;
  padding-bottom: 13px;
  font-size: 85px;
  font-weight: 600;
  line-height: 93px;
}

.store__text {
  margin: 0;
  width: 350px;
  padding-bottom: 47px;
  font-size: 16px;
  line-height: 24px;
}

.store__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*halva*/
.halva {
  background-color: #F5AFB9;
}

.halva .container {
  display: flex;
  padding: 50px 11% 100px 0;
}

.halva__wrapper {
  position: relative;
  margin-right: -50px;
}

.halva__wrapper::before {
  position: absolute;
  content: "";
  background: url("../img/halva.png") no-repeat;
  background-size: contain;
  width: 203px;
  height: 331px;
  right: -213px;
  top: 22px;
}

.halva__promo {
  position: relative;
  margin-right: 57px;
  padding: 94px 25% 105px 165px;
  background-color: #ABAFD6;
  border-radius: 0px 220px 0px 0px;
}

.halva__promo span {
  display: block;
  padding-bottom: 45px;
  font-size: 21px;
  line-height: 31px;
}

.halva__promo .halva__btn {
  width: 289px;
}

.halva__title {
  margin: 0;
  padding-bottom: 53px;
  width: 200%;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.halva__title-text {
  margin: 0;
  padding-bottom: 62px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.halva__text {
  margin: 0;
  padding-bottom: 21px;
  width: 245px;
  font-size: 16px;
  line-height: 24px;
}

.halva__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

.halva__gift {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 55px 58px;
  height: 681px;
  text-align: center;
  background-color: #f55a56;
}

.halva__gift::before {
  position: absolute;
  content: "";
  background: url("../img/love.svg") no-repeat;
  background-size: contain;
  width: 147px;
  height: 327px;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.halva__gift-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.halva__gift .halva__btn {
  min-width: 248px;
  padding: 16px 42px;
}

/*bite*/
.bite {
  position: relative;
  background-color: #F5AFB9;
  overflow: hidden;
}

.bite::after {
  position: absolute;
  content: "";
  background: url("../img/bite.png") no-repeat;
  background-size: contain;
  width: 746px;
  height: 760px;
  top: 222px;
  left: 673px;
}

.bite::before {
  position: absolute;
  content: "";
  background: url("../img/bite.svg") no-repeat;
  background-size: contain;
  width: 282px;
  height: 282px;
  top: 89px;
  left: 346px;
}

.bite .container {
  display: flex;
  justify-content: space-between;
  padding: 256px 100px 209px 165px;
  margin: 0;
  width: 100%;
}

.bite__promo {
  padding-top: 149px;
}

.bite__title {
  margin: 0;
  padding-bottom: 12px;
  width: 385px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.bite__text {
  margin: 0;
  padding-bottom: 53px;
  width: 350px;
  font-size: 16px;
  line-height: 24px;
}

.bite__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*recipes*/
.recipes {
  margin-top: -5px;
  padding-bottom: 300px;
  width: 100vw;
  background-color: #F5AFB9;
}

.recipes__wrapper-text {
  margin-left: auto;
  margin-right: 18%;
  padding-top: 130px;
  padding-bottom: 190px;
  width: 505px;
}

.recipes__title {
  margin: 0;
  padding-bottom: 28px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.recipes__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.recipes__container {
  display: flex;
  justify-content: space-between;
}

.recipes__box:nth-child(2n) {
  padding-top: 60px;
}

.recipes__photo {
  object-fit: contain;
  height: auto;
}

.recipes__dish {
  margin: 0;
  padding-top: 43px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
}

.recipes__name {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

/*footer*/
.footer {
  position: relative;
  background-color: #BE5A4B;
}

.footer::after {
  position: absolute;
  content: "";
  background: url("../img/footer-pattern.png") bottom left no-repeat;
  background-size: cover;
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
}

.footer .container {
  margin-left: 11.5%;
  margin-right: 11.5%;
  padding-top: 135px;
  padding-bottom: 57px;
}

.footer .container .footer-logo {
  display: block;
  margin: 0 auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 116px;
  padding-bottom: 133px;
}

.tools {
  margin-right: 109px;
}

.tools__title {
  margin: 0;
  padding-bottom: 45px;
  width: 140%;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.tools__container:first-child {
  margin-bottom: 110px;
  border-bottom: 1px solid #000;
}

.tools__container:nth-child(2) {
  margin-bottom: 77px;
}

.tools__container input {
  width: 100%;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
  outline: none;
}

.tools__container input::placeholder {
  font-size: 12px;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.tools__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.tools__follow {
  margin: 0;
  padding-bottom: 24px;
  font-size: 32px;
  line-height: 38px;
}

.tools__social {
  display: flex;
}

.tools__social li {
  padding-right: 18px;
}

.tools__payment {
  display: flex;
  padding-bottom: 20px;
}

.tools__payment li {
  padding-right: 14px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.nav__box.help {
  margin-top: -133px;
}

.nav__title {
  margin: 0;
  padding-bottom: 21px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.nav__list {
  padding-bottom: 60px;
}

.nav__link {
  padding-bottom: 21px;
}

.nav__link a {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .header__list {
    padding-right: 0;
  }
  .header__logo {
    width: 97px;
    top: 65px;
  }
  .header__item:nth-child(3) {
    margin-right: 0;
  }
  .promo__title {
    padding-top: 23px;
  }
  .promo__cookes {
    width: 350px;
  }
  .products__title {
    font-size: 74px;
    line-height: 84px;
  }
  .way__title {
    font-size: 74px;
    line-height: 84px;
  }
  .promo-nut {
    margin-right: 50px;
  }
  .promo-nut__title {
    font-size: 74px;
    line-height: 84px;
  }
  .promo-nut__prewiev {
    font-size: 38px;
    line-height: 46px;
  }
  .promo-nut::after {
    width: 300px;
    height: 454px;
    bottom: 142px;
  }
  .store__title {
    font-size: 74px;
    line-height: 84px;
  }
  .store .container {
    padding-bottom: 300px;
  }
  .halva__promo {
    padding: 94px 19% 105px 165px;
  }
  .halva__wrapper::before {
    right: -135px;
    width: 165px;
    height: 270px;
  }
  .halva__title {
    font-size: 74px;
    line-height: 84px;
  }
  .halva__title-text {
    font-size: 38px;
    line-height: 46px;
  }
  .halva__gift {
    padding: 55px 40px;
  }
  .halva__gift-text {
    width: 120%;
    font-size: 38px;
    line-height: 46px;
  }
  .halva__gift::before {
    top: 65px;
    width: 125px;
    height: 278px;
  }
  .bite::after {
    left: 564px;
  }
  .bite__title {
    font-size: 74px;
    line-height: 84px;
  }
  .recipes {
    padding-bottom: 150px;
  }
  .recipes__wrapper-text {
    margin-right: 11%;
    padding-bottom: 120px;
  }
  .recipes__title {
    font-size: 74px;
    line-height: 84px;
  }
  .recipes__name {
    font-size: 38px;
    line-height: 46px;
  }
  .tools__title {
    font-size: 74px;
    line-height: 84px;
  }
  .nav__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 1120px) {
  .nut .container {
    padding-right: 50px;
  }
  .promo-nut {
    margin-right: 10%;
    padding: 94px 80px 164px 165px;
  }
  .promo-nut::after {
    position: static;
  }
  .enumeration-nut__text {
    padding-bottom: 30px;
  }
  .enumeration-nut__item {
    padding-top: 37px;
    font-size: 38px;
    line-height: 46px;
  }
  .soul .container {
    width: 890px;
  }
  .soul__box {
    padding-left: 54px;
    padding-right: 54px;
  }
  .halva .container {
    padding-right: 0;
  }
  .halva__wrapper::before {
    position: static;
  }
  .halva__promo {
    margin-right: 30px;
    padding: 90px 9% 80px 165px;
  }
  .halva__title {
    width: 100%;
  }
  .halva__gift {
    max-width: 330px;
    height: auto;
  }
  .halva__gift-text {
    width: 100%;
  }
  .footer .container {
    margin-right: 8%;
    margin-left: 8%;
  }
  .tools {
    margin-right: 0px;
  }
}

@media (max-width: 900px) {
  .promo {
    position: relative;
  }
  .promo__title {
    padding-top: 10px;
    font-size: 66px;
    line-height: 70px;
    width: 570px;
  }
  .promo__cookes {
    width: 255px;
  }
  .promo__link {
    position: absolute;
    bottom: 38px;
    left: 30px;
    width: 57px;
    height: 56px;
  }
  .products__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products__img {
    margin-right: 6%;
    width: 165px;
    height: 165px;
  }
  .products__info {
    width: 375px;
  }
  .products__title {
    font-size: 52px;
    line-height: 60px;
  }
  .products-goods img {
    width: 250px;
  }
  .products-goods__title {
    bottom: 90px;
    font-size: 26px;
    line-height: 32px;
  }
  .products-goods__price {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .products-goods__button {
    padding: 7px 34px;
    font-size: 16px;
    line-height: 21px;
  }
  .products-goods .swiper-wrapper {
    padding-bottom: 100px;
  }
  .way .container {
    padding: 100px 70px 300px 70px;
  }
  .way__title {
    font-size: 52px;
    line-height: 60px;
  }
  .way__promo::after {
    width: 600px;
    height: 551px;
    top: 0px;
    left: 385px;
  }
  .promo-nut {
    padding: 94px 11% 100px 70px;
  }
  .promo-nut__title {
    font-size: 52px;
    line-height: 60px;
  }
  .promo-nut__prewiev {
    font-size: 32px;
    line-height: 38px;
  }
  .enumeration-nut__text {
    font-size: 18px;
    line-height: 26px;
  }
  .enumeration-nut__item {
    padding-top: 24px;
    font-size: 32px;
    line-height: 38px;
  }
  .soul .container {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 600px;
  }
  .soul__box {
    padding: 0;
  }
  .soul__box + .soul__box {
    margin-left: 65px;
  }
  .store .container {
    padding: 100px 70px 200px 70px;
  }
  .store__title {
    width: 200px;
    font-size: 52px;
    line-height: 60px;
  }
  .store__text {
    width: 250px;
  }
  .store::after {
    width: 700px;
    height: 570px;
    top: 121px;
    left: 336px;
  }
  .store::before {
    width: 190px;
    height: 190px;
    left: 220px;
    top: 33px;
  }
  .halva__promo {
    padding: 70px 60px 80px 70px;
  }
  .halva__promo .halva__btn {
    width: 258px;
  }
  .halva__title {
    width: 70%;
    padding-bottom: 49px;
    font-size: 52px;
    line-height: 60px;
  }
  .halva__title-text {
    padding-bottom: 41px;
    font-size: 32px;
    line-height: 38px;
  }
  .halva__btn {
    padding: 5px 35px;
  }
  .halva__gift {
    max-width: 300px;
  }
  .halva__gift::before {
    top: 87px;
    width: 100px;
    height: 223px;
  }
  .halva__gift-text {
    font-size: 32px;
    line-height: 38px;
  }
  .halva__gift .halva__btn {
    min-width: 225px;
  }
  .bite .container {
    padding: 100px 70px 180px 70px;
  }
  .bite::before {
    width: 190px;
    height: 190px;
    left: 220px;
    top: 33px;
  }
  .bite::after {
    width: 600px;
    height: 539px;
    left: 384px;
    top: 92px;
  }
  .bite__title {
    font-size: 52px;
    line-height: 60px;
  }
  .bite__text {
    width: 250px;
  }
  .bite__btn {
    width: 258px;
    padding: 5px 35px;
  }
  .recipes {
    padding-bottom: 100px;
  }
  .recipes__wrapper-text {
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .recipes__title {
    font-size: 52px;
    line-height: 60px;
  }
  .recipes__dish {
    padding-top: 25px;
  }
  .recipes__name {
    font-size: 32px;
    line-height: 38px;
  }
  .footer .container {
    padding-top: 100px;
  }
  .footer .container .footer-logo {
    width: 109px;
    height: 145px;
  }
  .footer__wrapper {
    grid-template-columns: 2fr 3fr;
    grid-gap: 60px;
    padding-top: 70px;
  }
  .tools__title {
    font-size: 52px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 80px;
    top: 50px;
  }
  .header__item {
    font-size: 12px;
    line-height: 18px;
  }
  .promo__title {
    font-size: 58px;
    line-height: 64px;
    width: 500px;
  }
  .promo-nut {
    padding: 94px 7% 100px 70px;
  }
  .promo-nut__title {
    width: 270px;
  }
  .soul .container {
    width: 500px;
  }
  .store .container {
    padding-bottom: 170px;
  }
  .halva__promo {
    margin-right: 20px;
    padding: 70px 30px 50px 70px;
  }
  .halva__promo .halva__btn {
    width: 235px;
  }
  .halva__gift {
    max-width: 250px;
  }
  .halva__gift .halva__btn {
    min-width: 200px;
    padding: 16px 20px;
  }
  .halva__gift::before {
    top: 57px;
  }
  .bite .container {
    padding-bottom: 160px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tools__container:first-child {
    flex: 100%;
    margin-bottom: 50px;
  }
  .tools__container:nth-child(2) {
    margin-bottom: 0;
  }
  .tools__title {
    width: 100%;
  }
  .nav {
    grid-column-gap: 70px;
  }
}

@media (max-width: 620px) {
  .header__toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .header__toggle span {
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    top: 50%;
    background-color: #000;
    transition: all ease .3s;
  }
  .header__toggle span::after, .header__toggle span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    transition-property: top;
    transition-duration: .3s;
    transition-delay: .3s;
  }
  .header__toggle span::before {
    top: -6px;
  }
  .header__toggle span::after {
    top: 6px;
  }
  .header__toggle.active span {
    background-color: transparent;
  }
  .header__toggle.active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__toggle.active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__list {
    position: absolute;
    flex-direction: column;
    right: 40px;
    top: 30px;
    text-align: right;
    transition: all ease .5s;
    transform: translateY(-170px);
  }
  .header__list.active {
    transform: translateY(0px);
  }
  .header__logo {
    top: 0;
  }
  .promo {
    padding-top: 100px;
  }
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    width: 420px;
  }
  .promo__link {
    width: 45px;
    height: 44px;
  }
  .promo__btn {
    line-height: 23px;
  }
  .products__img {
    width: 100px;
    height: 100px;
  }
  .products__title {
    font-size: 38px;
    line-height: 45px;
  }
  .products__info {
    width: 260px;
  }
  .products-goods .swiper-slide:nth-child(odd) {
    padding-top: 60px;
  }
  .products-goods img {
    width: 200px;
  }
  .products-goods__title {
    bottom: 80px;
    font-size: 22px;
    line-height: 26px;
  }
  .products-goods__price {
    font-size: 19px;
    line-height: 24px;
  }
  .products-goods__button {
    padding: 7px 22px;
  }
  .way .container {
    padding: 100px 70px 200px 40px;
  }
  .way__title {
    font-size: 38px;
    line-height: 45px;
  }
  .way__text {
    width: 260px;
  }
  .way__promo::after {
    width: 500px;
    height: 459px;
    left: 270px;
  }
  .nut .container {
    flex-direction: column;
  }
  .promo-nut {
    padding: 55px 7% 70px 40px;
  }
  .promo-nut::after {
    position: absolute;
    width: 200px;
    height: 302px;
    bottom: -108px;
    right: -73px;
  }
  .promo-nut__prewiev {
    font-size: 28px;
    line-height: 32px;
  }
  .promo-nut__prewiev .carry {
    display: inline-block;
  }
  .promo-nut__title {
    padding-bottom: 33px;
    font-size: 38px;
    line-height: 45px;
  }
  .promo-nut__text {
    width: 100%;
  }
  .enumeration-nut {
    padding: 70px 0 70px 40px;
  }
  .enumeration-nut__item {
    padding-top: 20px;
    font-size: 28px;
    line-height: 32px;
  }
  .soul .container {
    width: 300px;
  }
  .soul__wrapper.show {
    flex-direction: column;
    margin-top: 60px;
  }
  .soul__box + .soul__box {
    margin-left: 0;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .soul__box::before {
    top: -114px;
  }
  .store .container {
    padding: 70px 70px 180px 40px;
  }
  .store__promo {
    padding-top: 50px;
  }
  .store__title {
    font-size: 38px;
    line-height: 45px;
  }
  .store::before {
    width: 120px;
    height: 120px;
  }
  .store::after {
    width: 550px;
    height: 448px;
    top: 75px;
    left: 282px;
  }
  .halva .container {
    flex-direction: column;
  }
  .halva__wrapper {
    margin-right: 0;
  }
  .halva__wrapper::before {
    position: absolute;
    top: -14px;
    right: -110px;
  }
  .halva__promo {
    margin-right: 100px;
    padding-left: 40px;
  }
  .halva__promo .halva__btn {
    width: 255px;
  }
  .halva__title {
    padding-bottom: 33px;
    font-size: 38px;
    line-height: 45px;
  }
  .halva__title-text {
    padding-bottom: 14px;
    font-size: 28px;
    line-height: 32px;
  }
  .halva__gift {
    margin-left: 26%;
    max-width: fit-content;
    padding: 254px 50px 55px;
  }
  .halva__gift::before {
    width: 75px;
    height: 167px;
  }
  .halva__gift-text {
    font-size: 28px;
    line-height: 32px;
  }
  .bite .container {
    padding: 70px 70px 180px 40px;
  }
  .bite::before {
    width: 120px;
    height: 120px;
  }
  .bite::after {
    width: 530px;
    height: 476px;
    left: 306px;
    top: 58px;
  }
  .bite__promo {
    padding-top: 50px;
  }
  .bite__title {
    width: 287px;
    font-size: 38px;
    line-height: 45px;
  }
  .recipes__wrapper-text {
    margin-right: 0;
    margin-left: 40px;
    padding-bottom: 50px;
    padding-right: 40px;
    width: fit-content;
  }
  .recipes__title {
    font-size: 38px;
    line-height: 45px;
  }
  .recipes__name {
    font-size: 24px;
    line-height: 28px;
  }
  .footer .container {
    padding-top: 70px;
  }
  .tools__title {
    font-size: 38px;
    line-height: 45px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    top: 30px;
    left: 40px;
    width: 56px;
    height: 74px;
  }
  .header__item {
    line-height: 15px;
  }
  .promo {
    padding-top: 70px;
  }
  .products__container {
    padding-bottom: 20px;
  }
  .promo-nut::after {
    width: 175px;
    height: 265px;
  }
  .halva__wrapper:before {
    right: -125px;
    top: 0;
    width: 140px;
    height: 229px;
  }
  .halva__title {
    width: 100%;
  }
  .nav {
    grid-column-gap: 30px;
  }
}

@media (max-width: 425px) {
  .header__container {
    width: 87.5%;
  }
  .header__toggle {
    top: 20px;
  }
  .header__logo {
    top: 20px;
    left: 30px;
  }
  .header__list {
    top: 20px;
  }
  .header__item {
    font-size: 10px;
    line-height: 12px;
  }
  .promo {
    padding-top: 50px;
  }
  .promo__title {
    padding-bottom: 180px;
    font-size: 38px;
    line-height: 44px;
    width: 300px;
  }
  .promo__link {
    left: 20px;
    width: 34px;
    height: 34px;
  }
  .promo__cookes {
    width: 220px;
    margin-right: 20px;
    padding: 8px 10px 8px 17px;
  }
  .promo__btn {
    padding: 0px 16px;
    line-height: 18px;
  }
  .products__info {
    width: 200px;
  }
  .products__title {
    font-size: 32px;
    line-height: 40px;
  }
  .products-goods .swiper-slide:nth-child(odd) {
    padding-top: 30px;
  }
  .way .container {
    padding: 75px 40px 140px 40px;
  }
  .way__title {
    font-size: 32px;
    line-height: 40px;
  }
  .way__text {
    width: 212px;
  }
  .way__btn {
    padding: 5px 45px;
  }
  .way__promo::after {
    width: 450px;
    height: 413px;
    left: 230px;
  }
  .promo-nut {
    margin-right: 0;
  }
  .promo-nut::after {
    width: 147px;
    height: 223px;
    bottom: -99px;
    right: 0;
  }
  .promo-nut__title {
    padding-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
    width: 250px;
  }
  .promo-nut__prewiev {
    font-size: 24px;
    line-height: 28px;
  }
  .promo-nut__btn {
    padding: 5px 46px;
  }
  .nut .container {
    padding-right: 20px;
  }
  .soul .container {
    width: 280px;
  }
  .store .container {
    padding: 70px 40px 100px 40px;
  }
  .store__title {
    width: 150px;
    font-size: 32px;
    line-height: 40px;
  }
  .store__text {
    width: 200px;
  }
  .store__btn {
    padding: 5px 45px;
  }
  .store::after {
    left: 218px;
    width: 490px;
    height: 400px;
  }
  .store::before {
    left: 154px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
  .halva__wrapper::before {
    position: static;
  }
  .halva__promo {
    margin-right: 5%;
  }
  .halva__promo .halva__btn {
    width: 220px;
  }
  .halva__title {
    font-size: 32px;
    line-height: 40px;
  }
  .halva__title-text {
    font-size: 24px;
    line-height: 28px;
  }
  .halva__gift {
    margin-left: 15%;
  }
  .halva__gift-text {
    font-size: 24px;
    line-height: 28px;
  }
  .bite .container {
    padding: 75px 40px 140px 40px;
  }
  .bite__title {
    width: 187px;
    font-size: 32px;
    line-height: 40px;
  }
  .bite__text {
    width: 200px;
  }
  .bite__btn {
    width: 220px;
  }
  .bite::before {
    left: 173px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
  .bite::after {
    width: 450px;
    height: 404px;
    left: 239px;
    top: 70px;
  }
  .recipes {
    padding-bottom: 70px;
  }
  .recipes__title {
    font-size: 32px;
    line-height: 40px;
  }
  .recipes__name {
    font-size: 20px;
    line-height: 24px;
  }
  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .tools__container:nth-child(2) {
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .tools__title {
    padding-bottom: 25px;
    font-size: 38px;
    line-height: 45px;
  }
  .tools__follow {
    font-size: 28px;
    line-height: 32px;
  }
  .nav {
    grid-column-gap: 10px;
  }
}

@media (max-width: 400px) {
  .nav__box.help {
    margin-top: -185px;
  }
  .nav__list .carry {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */