/* global */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  width: 100%;
}

/*header*/
.header {
  background: url("../img/promo-bgc.jpg") top center no-repeat;
  background-size: cover;
}

.header__container {
  margin: 0 auto;
  width: 77.1%;
}

.header__toggle {
  display: none;
}

.header__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.header__item {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.header__item:nth-child(3) {
  margin-right: 300px;
}

/*promo*/
.promo {
  padding-top: 125px;
  padding-bottom: 38px;
}

.promo__title {
  margin: 0 auto;
  width: 600px;
  padding-bottom: 282px;
  font-weight: normal;
  font-size: 85px;
  line-height: 93px;
  text-align: center;
}

.promo__link {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 80px;
  background: url("../img/promo__arrow.svg") no-repeat;
  background-size: contain;
}

.promo__cookes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 30px;
  width: 392px;
  padding: 11px 10px 11px 26px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 78px;
}

.promo__text {
  margin: 0;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.promo__btn {
  padding: 0px 22px;
  border: 0;
  outline: 0;
  color: #000;
  background-color: #F5AFB9;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 17.5px;
}

/*products*/
.products {
  width: 100vw;
  max-width: 1440px;
  background-color: #ED7B49;
}

.products__container {
  display: flex;
  margin: 0 auto;
  padding: 76px 30px 100px;
  align-items: center;
  justify-content: center;
}

.products__img {
  background: url("../img/products-gluten.svg") no-repeat;
  background-size: contain;
  margin-right: 10%;
  width: 241px;
  height: 241px;
}

.products__info {
  width: 506px;
}

.products__title {
  margin: 0;
  padding-bottom: 12px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.products__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.products-goods img {
  width: auto;
}

.products-goods__title {
  position: absolute;
  bottom: 100px;
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.products-goods__price {
  display: block;
  margin: 0;
  margin-top: -30px;
  padding-bottom: 23px;
  font-size: 21px;
  line-height: 31px;
  font-weight: 700;
}

.products-goods__button {
  margin-left: 16px;
  padding: 10px 47px;
  border: 0;
  outline: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 36px;
}

.products-goods__button.button-green {
  background-color: #72A080;
}

.products-goods__button.button-brown {
  background-color: #A95D50;
}

.products-goods__button.button-purple {
  background-color: #ABAFD6;
}

.products-goods.swiper {
  width: 100%;
  height: 100%;
}

.products-goods .swiper-wrapper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 200px;
}

.products-goods .swiper-slide:first-child {
  margin-left: 47px;
}

.products-goods .swiper-slide:nth-child(odd) {
  padding-top: 142px;
}

/*way*/
.way {
  position: relative;
  background-color: #ED7B49;
  overflow-x: hidden;
}

.way .container {
  padding: 200px 100px 400px 160px;
}

.way__promo::after {
  position: absolute;
  content: "";
  background: url("../img/way-img.png") no-repeat;
  background-size: contain;
  width: 844px;
  height: 775px;
  left: 489px;
  top: 0;
}

.way__title {
  margin: 0;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: 85px;
  line-height: 93px;
}

.way__text {
  margin: 0;
  padding-bottom: 47px;
  width: 350px;
  font-size: 16px;
  line-height: 24px;
}

.way__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*nut*/
.nut {
  margin-top: -5px;
  background-color: #ED7B49;
}

.nut .container {
  margin-left: 0;
  margin-right: 260px;
  display: flex;
}

.promo-nut {
  position: relative;
  padding: 94px 0px 164px 165px;
  background-color: #BE5A4B;
  border-radius: 0px 220px 0px 0px;
  margin-right: 110px;
  flex: 0 0 800px;
}

.promo-nut::after {
  position: absolute;
  content: "";
  background: url("../img/nut.png") no-repeat;
  width: 350px;
  height: 433px;
  bottom: 59px;
  right: 17px;
}

.promo-nut::before {
  position: absolute;
  content: "";
  background: url("../img/hand.svg") no-repeat;
  width: 86px;
  height: 158px;
  top: 239px;
  right: 39px;
}

.promo-nut__title {
  margin: 0;
  padding-bottom: 49px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.promo-nut__prewiev {
  margin: 0;
  padding-bottom: 14px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.promo-nut__text {
  margin: 0;
  padding-bottom: 20px;
  width: 234px;
  font-size: 16px;
  line-height: 24px;
}

.promo-nut__box span {
  display: inline-block;
  padding-bottom: 46px;
  font-size: 21px;
  line-height: 31px;
}

.promo-nut__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

.enumeration-nut {
  flex: 0 0 255px;
  padding-top: 94px;
}

.enumeration-nut__text {
  margin: 0;
  padding-bottom: 50px;
  font-size: 21px;
  line-height: 31px;
}

.enumeration-nut__item {
  padding-top: 45px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}

.enumeration-nut__item sup {
  font-size: 16px;
  line-height: 0px;
}

/*soul*/
.soul {
  background-color: #E9A8C6;
  text-align: center;
}

.soul .container {
  padding-top: 129px;
  padding-bottom: 99px;
}

.soul__wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 38px;
}

.soul__box {
  position: relative;
  padding-top: 85px;
}

.soul__box::before {
  position: absolute;
  content: "";
  background: url("../img/lips.svg");
  width: 93px;
  height: 111px;
  top: -50px;
  left: 123px;
}

.soul__title {
  margin: 0 auto;
  width: 105px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.soul__voice {
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.soul__text {
  margin: 0 auto;
  width: 343px;
  font-size: 16px;
  line-height: 24px;
}

.soul__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.soul__button {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.soul__button.button-next {
  background: #000000;
}

/*store*/
.store {
  margin-top: -5px;
  background-color: #F5AFB9;
}

.store .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 209px;
  padding-bottom: 209px;
  margin: 0;
  width: 100%;
  padding-left: 165px;
}

.store .container::before {
  position: absolute;
  content: "";
  background: url("../img/plastic.svg") no-repeat;
  width: 282px;
  height: 282px;
  top: 65px;
  left: 350px;
}

.store__promo {
  flex: 0 0 336px;
  padding-top: 149px;
}

.store__title {
  margin: 0;
  padding-bottom: 13px;
  font-size: 85px;
  font-weight: 600;
  line-height: 93px;
}

.store__text {
  margin: 0;
  padding-bottom: 47px;
  font-size: 16px;
  line-height: 24px;
}

.store__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*halva*/
.halva {
  margin-top: -5px;
  background-color: #F5AFB9;
}

.halva .container {
  display: flex;
  margin-left: 0;
  margin-right: 165px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.halva__promo {
  position: relative;
  margin-right: 15px;
  padding: 94px 0px 105px 165px;
  flex: 0 0 800px;
  background-color: #ABAFD6;
  border-radius: 0px 220px 0px 0px;
}

.halva__promo::before {
  position: absolute;
  content: "";
  background: url("../img/halva.png") no-repeat;
  width: 350px;
  height: 385px;
  right: 0;
  top: 220px;
}

.halva__promo span {
  display: block;
  padding-bottom: 45px;
  font-size: 21px;
  line-height: 31px;
}

.halva__title {
  margin: 0;
  padding-bottom: 53px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.halva__title-text {
  margin: 0;
  padding-bottom: 62px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.halva__text {
  margin: 0;
  padding-bottom: 21px;
  width: 245px;
  font-size: 16px;
  line-height: 24px;
}

.halva__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

.halva__gift {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 445px;
  padding: 55px 58px;
  height: 681px;
  text-align: center;
  background-color: #f55a56;
}

.halva__gift::before {
  position: absolute;
  content: "";
  background: url("../img/love.svg") no-repeat;
  width: 147px;
  height: 327px;
  top: 65px;
  left: 149px;
}

.halva__gift-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.halva__gift .halva__btn {
  padding: 16px 42px;
}

/*bite*/
.bite {
  margin-top: -5px;
  background-color: #F5AFB9;
}

.bite .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 209px;
  padding-bottom: 209px;
  margin: 0;
  width: 100%;
  padding-left: 165px;
}

.bite .container::before {
  position: absolute;
  content: "";
  background: url("../img/bite.svg") no-repeat;
  width: 282px;
  height: 282px;
  top: 0px;
  left: 505px;
}

.bite__promo {
  width: 385px;
}

.bite__title {
  margin: 0;
  padding-bottom: 12px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.bite__text {
  margin: 0;
  padding-bottom: 53px;
  font-size: 16px;
  line-height: 24px;
}

.bite__btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 5px 74px;
  border-radius: 32px;
}

/*recipes*/
.recipes {
  margin-top: -5px;
  padding-bottom: 300px;
  background-color: #F5AFB9;
}

.recipes__title {
  margin: 0;
  padding-bottom: 28px;
  padding-left: 640px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.recipes__text {
  margin: 0;
  padding-bottom: 191px;
  padding-left: 640px;
  font-size: 16px;
  line-height: 24px;
}

.recipes__container {
  display: flex;
  justify-content: space-between;
}

.recipes__box {
  flex: 0 0 33.33%;
}

.recipes__box:nth-child(2) {
  padding-top: 60px;
}

.recipes__photo {
  object-fit: contain;
}

.recipes__dish {
  margin: 0;
  padding-top: 43px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
}

.recipes__name {
  margin: 0;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

/*footer*/
.footer {
  position: relative;
  margin-top: -5px;
  background-color: #BE5A4B;
}

.footer::after {
  position: absolute;
  content: "";
  background: url("../img/footer-pattern.png") bottom left no-repeat;
  width: 1440px;
  height: 120px;
  bottom: 0;
  left: 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 135px;
  padding-bottom: 110px;
}

.footer .container img {
  display: block;
  flex: 0 1 100%;
}

.footer__container {
  padding-top: 116px;
}

.tools {
  flex: 0 0 50%;
}

.tools__title {
  margin: 0;
  padding-bottom: 45px;
  font-size: 85px;
  line-height: 93px;
  font-weight: 700;
}

.tools__container {
  width: 445px;
}

.tools__container:first-child {
  margin-bottom: 110px;
  border-bottom: 1px solid #000;
}

.tools__container:nth-child(2) {
  margin-bottom: 70px;
}

.tools__container input {
  width: 100%;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
  outline: none;
}

.tools__container input::placeholder {
  font-size: 12px;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.tools__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.tools__follow {
  margin: 0;
  padding-bottom: 24px;
  font-size: 32px;
  line-height: 38px;
}

.tools__social {
  display: flex;
}

.tools__social li {
  padding-right: 18px;
}

.tools__payment {
  display: flex;
  padding-bottom: 20px;
}

.tools__payment li {
  padding-right: 14px;
}

.nav {
  flex: 0 0 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav__title {
  margin: 0;
  padding-bottom: 21px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.nav__list {
  padding-bottom: 60px;
}

.nav__link {
  padding-bottom: 21px;
}

.nav__link a {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .header__list {
    padding-right: 0;
  }
  .header__logo {
    width: 97px;
    top: 65px;
  }
  .header__item:nth-child(3) {
    margin-right: 0;
  }
  .promo__title {
    padding-top: 23px;
  }
  .promo__cookes {
    width: 350px;
  }
  .products__title {
    font-size: 74px;
    line-height: 84px;
  }
  .way__title {
    font-size: 74px;
    line-height: 84px;
  }
}

@media (max-width: 900px) {
  .promo {
    position: relative;
  }
  .promo__title {
    padding-top: 10px;
    font-size: 66px;
    line-height: 70px;
    width: 570px;
  }
  .promo__cookes {
    width: 255px;
  }
  .promo__link {
    position: absolute;
    bottom: 38px;
    left: 30px;
    width: 57px;
    height: 56px;
  }
  .products__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products__img {
    margin-right: 6%;
    width: 165px;
    height: 165px;
  }
  .products__info {
    width: 375px;
  }
  .products__title {
    font-size: 52px;
    line-height: 60px;
  }
  .products-goods img {
    width: 250px;
  }
  .products-goods__title {
    bottom: 90px;
    font-size: 26px;
    line-height: 32px;
  }
  .products-goods__price {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .products-goods__button {
    padding: 7px 34px;
    font-size: 16px;
    line-height: 21px;
  }
  .products-goods .swiper-wrapper {
    padding-bottom: 100px;
  }
  .way .container {
    padding: 100px 70px 200px 70px;
  }
  .way__title {
    font-size: 52px;
    line-height: 60px;
  }
  .way__promo::after {
    width: 600px;
    height: 551px;
    top: 0px;
    left: 385px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 80px;
    top: 50px;
  }
  .header__item {
    font-size: 12px;
    line-height: 18px;
  }
  .promo__title {
    font-size: 58px;
    line-height: 64px;
    width: 500px;
  }
}

@media (max-width: 620px) {
  .header__toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .header__toggle span {
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    top: 50%;
    background-color: #000;
    transition: all ease .3s;
  }
  .header__toggle span::after, .header__toggle span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    transition-property: top;
    transition-duration: .3s;
    transition-delay: .3s;
  }
  .header__toggle span::before {
    top: -6px;
  }
  .header__toggle span::after {
    top: 6px;
  }
  .header__toggle.active span {
    background-color: transparent;
  }
  .header__toggle.active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__toggle.active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__list {
    position: absolute;
    flex-direction: column;
    right: 40px;
    top: 30px;
    text-align: right;
    transition: all ease .5s;
    transform: translateY(-170px);
  }
  .header__list.active {
    transform: translateY(0px);
  }
  .header__logo {
    top: 0;
  }
  .promo {
    padding-top: 100px;
  }
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    width: 420px;
  }
  .promo__link {
    width: 45px;
    height: 44px;
  }
  .promo__btn {
    line-height: 23px;
  }
  .products__img {
    width: 100px;
    height: 100px;
  }
  .products__title {
    font-size: 38px;
    line-height: 45px;
  }
  .products__info {
    width: 260px;
  }
  .products-goods .swiper-slide:nth-child(odd) {
    padding-top: 60px;
  }
  .products-goods img {
    width: 200px;
  }
  .products-goods__title {
    bottom: 80px;
    font-size: 22px;
    line-height: 26px;
  }
  .products-goods__price {
    font-size: 19px;
    line-height: 24px;
  }
  .products-goods__button {
    padding: 7px 22px;
  }
  .way .container {
    padding: 100px 70px 200px 40px;
  }
  .way__title {
    font-size: 38px;
    line-height: 45px;
  }
  .way__text {
    width: 260px;
  }
  .way__promo::after {
    width: 500px;
    height: 459px;
    left: 270px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    top: 30px;
    left: 40px;
    width: 56px;
    height: 74px;
  }
  .header__item {
    line-height: 15px;
  }
  .promo {
    padding-top: 70px;
  }
  .products__container {
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .header__container {
    width: 87.5%;
  }
  .header__toggle {
    top: 20px;
  }
  .header__logo {
    top: 20px;
    left: 30px;
  }
  .header__list {
    top: 20px;
  }
  .header__item {
    font-size: 10px;
    line-height: 12px;
  }
  .promo {
    padding-top: 50px;
  }
  .promo__title {
    padding-bottom: 180px;
    font-size: 38px;
    line-height: 44px;
    width: 300px;
  }
  .promo__link {
    left: 20px;
    width: 34px;
    height: 34px;
  }
  .promo__cookes {
    width: 220px;
    margin-right: 20px;
    padding: 8px 10px 8px 17px;
  }
  .promo__btn {
    padding: 0px 16px;
    line-height: 18px;
  }
  .products__info {
    width: 200px;
  }
  .products__title {
    font-size: 32px;
    line-height: 40px;
  }
  .products-goods .swiper-slide:nth-child(odd) {
    padding-top: 30px;
  }
  .way .container {
    padding: 75px 40px 140px 40px;
  }
  .way__title {
    font-size: 32px;
    line-height: 40px;
  }
  .way__text {
    width: 212px;
  }
  .way__btn {
    padding: 5px 45px;
  }
  .way__promo::after {
    width: 450px;
    height: 413px;
    left: 230px;
  }
}
/*# sourceMappingURL=style.css.map */