/* global */
* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #000;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', 'Arial', sans-serif;
}
img {
    width: 100%;
}
/*header*/
.header {
    background: url("../img/promo-bgc.jpg") top center no-repeat;
    background-size: cover;
    &__container {
        margin: 0 auto;
        width: 77.1%;
    }
    &__toggle {
        display: none;
    }
    &__wrapper {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__list {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
    }
    &__item {
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__item:nth-child(3) {
        margin-right: 300px;
    }
}

/*promo*/
.promo {
    padding-top: 125px;
    padding-bottom: 38px;
    &__title {
        margin: 0 auto;
        width: 600px;
        padding-bottom: 282px;
        font-weight: normal;
        font-size: 85px;
        line-height: 93px;
        text-align: center;
    }
    &__link {
        display: block;
        margin: 0 auto;
        width: 79px;
        height: 80px;
        background: url("../img/promo__arrow.svg") no-repeat;
        background-size: contain;
    }
    &__cookes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 30px;
        width: 392px;
        padding: 11px 10px 11px 26px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 78px;
    }
    &__text {
        margin: 0;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
    }
    &__btn {
        padding: 0px 22px;
        border: 0;
        outline: 0;
        color: #000;
        background-color: #F5AFB9;
        font-size: 13px;
        line-height: 35px;
        text-transform: uppercase;
        border-radius: 17.5px;
    }
}

/*products*/
.products {
    width: 100vw;
    max-width: 1440px;
    background-color: #ED7B49;
    &__container {
        display: flex;
        margin: 0 auto;
        padding: 76px 30px 100px;
        align-items: center;
        justify-content: center;
    }
    &__img {
        background: url("../img/products-gluten.svg") no-repeat;
        background-size: contain;
        margin-right: 10%;
        width: 241px;
        height: 241px;
    }
    &__info {
        width: 506px;
    }
    &__title {
        margin: 0;
        padding-bottom: 12px;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
    }
    &__text {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
}
.products-goods {
    img {
        width: auto;
    }
    &__title {
        position: absolute;
        bottom: 100px;
        margin: 0;
        font-size: 36px;
        line-height: 42px;
        font-weight: 700;
    }
    &__price {
        display: block;
        margin: 0;
        margin-top: -30px;
        padding-bottom: 23px;
        font-size: 21px;
        line-height: 31px;
        font-weight: 700;
    }
    &__button {
        margin-left: 16px;
        padding: 10px 47px;
        border: 0;
        outline: none;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 36px;
        &.button-green {
            background-color: #72A080;
        }
        &.button-brown {
            background-color: #A95D50;
        }
        &.button-purple {
            background-color: #ABAFD6;
        }
    }
    &.swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper {
        display: flex;
        padding-top: 20px;
        padding-bottom: 200px;
    }
    .swiper-slide:first-child {
        margin-left: 47px;
    }
    .swiper-slide:nth-child(odd) {
        padding-top: 142px;
    }
}

/*way*/
.way {
    position: relative;
    background-color: #ED7B49;
    overflow-x: hidden;
    .container {
        padding: 200px 100px 400px 160px;
    }
    &__promo {
        &::after {
            position: absolute;
            content: "";
            background: url("../img/way-img.png") no-repeat;
            background-size: contain;
            width: 844px;
            height: 775px;
            left: 489px;
            top: 0;
        }
    }
    &__title {
        margin: 0;
        padding-bottom: 19px;
        font-weight: 700;
        font-size: 85px;
        line-height: 93px;
    }
    &__text {
        margin: 0;
        padding-bottom: 47px;
        width: 350px;
        font-size: 16px;
        line-height: 24px;
    }
    &__btn {
        border: 0;
        outline: none;
        background-color: #000;
        color: #fff;
        padding: 5px 74px;
        border-radius: 32px;
    }
}

/*nut*/
.nut {
    background-color: #ED7B49;
    .container {
        display: flex;
    }
}
.promo-nut {
    position: relative;
    padding: 94px 250px 164px 165px;
    background-color: #BE5A4B;
    border-radius: 0px 220px 0px 0px;
    margin-right: 110px;
    &::after {
        position: absolute;
        content: "";
        background: url("../img/nut.png") no-repeat;
        background-size: contain;
        width: 350px;
        height: 529px;
        bottom: 59px;
        right: 17px;
    }
    &__title {
        margin: 0;
        padding-bottom: 49px;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
        width: 340px;
    }
    &__prewiev {
        margin: 0;
        padding-bottom: 14px;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
        .carry {
            display: block;
        }
    }
    &__text {
        margin: 0;
        padding-bottom: 20px;
        width: 234px;
        font-size: 16px;
        line-height: 24px;
    }
    &__box {
        span {
            display: inline-block;
            padding-bottom: 46px;
            font-size: 21px;
            line-height: 31px;
        }
    }
    &__btn {
        border: 0;
        outline: none;
        background-color: #000;
        color: #fff;
        padding: 5px 74px;
        border-radius: 32px;
    }
}
.enumeration-nut {
    padding-top: 94px;
    &__text {
        margin: 0;
        padding-bottom: 50px;
        font-size: 21px;
        line-height: 31px;
    }
    &__item {
        padding-top: 45px;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        border-bottom: 1px solid #000;
        sup {
            font-size: 16px;
            line-height: 0px;
        }
    }
}

/*soul*/
.soul {
    background-color: #E9A8C6;
    .container {
        margin: 0 auto;
        padding-top: 129px;
        padding-bottom: 99px;
        width: 1000px;
    }
    &__wrapper {
        display: none;
        &.show {
            display: flex;
            text-align: center;
        }
    }
    &__box {
        position: relative;
        padding-left: 114px;
        padding-right: 114px;
        &::before {
            position: absolute;
            content: "";
            background: url("../img/lips.svg");
            width: 93px;
            height: 111px;
            top: -128px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        margin: 0 auto;
        padding-bottom: 85px;
        width: 105px;
        font-size: 21px;
        line-height: 25px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    &__voice {
        margin: 0;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text {
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        .tab {
            padding: 0;
            background-color: #000;
            width: 10px;
            height: 10px;
            border: none;
            outline: none;
            transition: background-color 0.15s ease-in-out;
            &.active {
                background-color: transparent;
                border: 1px solid #000;
            }
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
    }
}

/*store*/
.store {
    position: relative;
    background-color: #F5AFB9;
    overflow-x: hidden;
    &::after {
        position: absolute;
        content: "";
        background: url("../img/store.png")  no-repeat;
        background-size: contain;
        width: 887px;
        height: 738px;
        top: 200px;
        left: 554px;
    }
    &::before {
        position: absolute;
        content: "";
        background: url("../img/plastic.svg") no-repeat;
        background-size: contain;
        width: 282px;
        height: 282px;
        top: 65px;
        left: 350px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding: 200px 100px 400px 165px;
        margin: 0;
        width: 100%;
    }
    &__promo {
        padding-top: 149px;
    }
    &__title {
        margin: 0;
        width: 400px;
        padding-bottom: 13px;
        font-size: 85px;
        font-weight: 600;
        line-height: 93px;
    }
    &__text {
        margin: 0;
        width: 350px;
        padding-bottom: 47px;
        font-size: 16px;
        line-height: 24px;
    }
    &__btn {
        border: 0;
        outline: none;
        background-color: #000;
        color: #fff;
        padding: 5px 74px;
        border-radius: 32px;
    }
}

/*halva*/
.halva {
    background-color: #F5AFB9;
    .container{
        display: flex;
        padding: 50px 11% 100px 0;
    }
    &__wrapper {
        position: relative;
        margin-right: -50px;
        &::before {
            position: absolute;
            content: "";
            background: url("../img/halva.png") no-repeat;
            background-size: contain;
            width: 203px;
            height: 331px;
            right: -213px;
            top: 22px;
        }
    }
    &__promo {
        position: relative;
        margin-right: 57px;
        padding: 94px 25% 105px 165px;
        background-color: #ABAFD6;
        border-radius: 0px 220px 0px 0px;
        span {
            display: block;
            padding-bottom: 45px;
            font-size: 21px;
            line-height: 31px;
        }
        .halva__btn {
            width: 289px;
        }
    }
    &__title {
        margin: 0;
        padding-bottom: 53px;
        width: 200%;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
        &-text {
            margin: 0;
            padding-bottom: 62px;
            font-size: 42px;
            line-height: 50px;
            font-weight: 700;
        }
    }
    &__text {
        margin: 0;
        padding-bottom: 21px;
        width: 245px;
        font-size: 16px;
        line-height: 24px;
    }
    &__btn {
        border: 0;
        outline: none;
        background-color: #000;
        color: #fff;
        padding: 5px 74px;
        border-radius: 32px;
    }
    &__gift {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 55px 58px;
        height: 681px;
        text-align: center;
        background-color: #f55a56;
        &::before {
            position: absolute;
            content: "";
            background: url("../img/love.svg") no-repeat;
            background-size: contain;
            width: 147px;
            height: 327px;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
        }
        &-text {
            margin: 0;
            padding-bottom: 30px;
            font-size: 42px;
            line-height: 50px;
            font-weight: 700;
        }
        .halva__btn {
            min-width: 248px;
            padding: 16px 42px;
        }
    }
}

/*bite*/
.bite {
    position: relative;
    background-color: #F5AFB9;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        background: url("../img/bite.png") no-repeat;
        background-size: contain;
        width: 746px;
        height: 760px;
        top: 222px;
        left: 673px;
    }
    &::before {
        position: absolute;
        content: "";
        background: url("../img/bite.svg") no-repeat;
        background-size: contain;
        width: 282px;
        height: 282px;
        top: 89px;
        left: 346px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding: 256px 100px 209px 165px;
        margin: 0;
        width: 100%;
    }
    &__promo {
        padding-top: 149px;
    }
    &__title {
        margin: 0;
        padding-bottom: 12px;
        width: 385px;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
    }
    &__text {
        margin: 0;
        padding-bottom: 53px;
        width: 350px;
        font-size: 16px;
        line-height: 24px;
    }
    &__btn {
        border: 0;
        outline: none;
        background-color: #000;
        color: #fff;
        padding: 5px 74px;
        border-radius: 32px;
    }
}

/*recipes*/
.recipes {
    margin-top: -5px;
    padding-bottom: 300px;
    width: 100vw;
    background-color: #F5AFB9;
    &__wrapper-text {
        margin-left: auto;
        margin-right: 18%;
        padding-top: 130px;
        padding-bottom: 190px;
        width: 505px;
    }
    &__title{
        margin: 0;
        padding-bottom: 28px;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
    }
    &__text {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        &:nth-child(2n) {
            padding-top: 60px;
        }
    }
    &__photo {
        object-fit: contain;
        height: auto;
    }
    &__dish {
        margin: 0;
        padding-top: 43px;
        padding-bottom: 12px;
        font-size: 16px;
        line-height: 24px;
    }
    &__name {
        margin: 0;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
    }
}

/*footer*/
.footer {
    position: relative;
    margin-top: -5px;
    background-color: #BE5A4B;
    &::after {
        position: absolute;
        content: "";
        background: url("../img/footer-pattern.png") bottom left no-repeat;
        width: 1440px;
        height: 120px;
        bottom: 0;
        left: 0;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 135px;
        padding-bottom: 110px;
        img {
            display: block;
            flex: 0 1 100%;
        }
    }
    &__container {
        padding-top: 116px;
    }
}
.tools {
    flex: 0 0 50%;
    &__title {
        margin: 0;
        padding-bottom: 45px;
        font-size: 85px;
        line-height: 93px;
        font-weight: 700;
    }
    &__container {
        width: 445px;
        &:first-child {
            margin-bottom: 110px;
            border-bottom: 1px solid #000;
        }
        &:nth-child(2) {
            margin-bottom: 70px;
        }
        input {
            width: 100%;
            padding-bottom: 7px;
            background-color: transparent;
            border: none;
            outline: none;
        }
        input::placeholder {
            font-size: 12px;
            font-family: 'Roboto', 'Arial', sans-serif;
            line-height: 18px;
            font-weight: 400;
            color: #000000;
        }
    }
    &__copyright {
        margin: 0;
        font-size: 12px;
        line-height: 18px;
    }
    &__follow {
        margin: 0;
        padding-bottom: 24px;
        font-size: 32px;
        line-height: 38px;
    }
    &__social {
        display: flex;
        li {
            padding-right: 18px;
        }
    }
    &__payment {
        display: flex;
        padding-bottom: 20px;
        li {
            padding-right: 14px;
        }
    }
}
.nav {
    flex: 0 0 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__title {
        margin: 0;
        padding-bottom: 21px;
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }
    &__list {
        padding-bottom: 60px;
    }
    &__link {
        padding-bottom: 21px;
        a {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
}

@media(max-width: 1200px) {
    .header {
        &__list {
            padding-right: 0;
        }
        &__logo {
            width: 97px;
            top: 65px;
        }
        &__item:nth-child(3) {
            margin-right: 0;
        }
    }
    .promo {
        &__title {
            padding-top: 23px;
        }
        &__cookes {
            width: 350px;
        }
    }
    .products {
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
    }
    .way {
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
    }
    .promo-nut {
        margin-right: 50px;
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
        &__prewiev {
            font-size: 38px;
            line-height: 46px;
        }
        &::after {
            width: 300px;
            height: 454px;
            bottom: 142px;
        }
    }
    .store {
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
        .container {
            padding-bottom: 300px;
        }
    }
    .halva {
        &__promo {
            padding: 94px 19% 105px 165px;
        }
        &__wrapper {
            &::before {
                right: -135px;
                width: 165px;
                height: 270px;
            }
        }
        &__title {
            font-size: 74px;
            line-height: 84px;
            &-text {
                font-size: 38px;
                line-height: 46px;
            }
        }
        &__gift {
            padding: 55px 40px;
            &-text {
                width: 120%;
                font-size: 38px;
                line-height: 46px;
            }
            &::before {
                top: 65px;
                width: 125px;
                height: 278px;
            }
        }
    }
    .bite {
        &::after {
            left: 564px;
        }
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
    }
    .recipes {
        &__wrapper-text {
            margin-right: 11%;
            padding-bottom: 120px;
        }
        &__title {
            font-size: 74px;
            line-height: 84px;
        }
        &__name {
            font-size: 38px;
            line-height: 46px;
        }
    }
}

@media(max-width: 1120px) {
    .nut {
        .container {
            padding-right: 50px;
        }
    }
    .promo-nut {
        margin-right: 10%;
        padding: 94px 80px 164px 165px;
        &::after {
            position: static;
        }
    }
    .enumeration-nut {
        &__text {
            padding-bottom: 30px;
        }
        &__item {
            padding-top: 37px;
            font-size: 38px;
            line-height: 46px;
        }
    }
    .soul {
        .container {
            width: 890px;
        }
        &__box {
            padding-left: 54px;
            padding-right: 54px;
        }
    }
    .halva {
        .container {
            padding-right: 0;
        }
        &__wrapper {
            &::before {
                position: static;
            }
        }
        &__promo {
            margin-right: 30px;
            padding: 90px 9% 80px 165px;
        }
        &__title {
            width: 100%;
        }
        &__gift {
            max-width: 330px;
            height: auto;
            &-text {
                width: 100%;
            }
        }
    }
}

@media(max-width: 900px) {
    .promo {
        position: relative;
        &__title {
            padding-top: 10px;
            font-size: 66px;
            line-height: 70px;
            width: 570px;
        }
        &__cookes {
            width: 255px;
        }
        &__link {
            position: absolute;
            bottom: 38px;
            left: 30px;
            width: 57px;
            height: 56px;
        }
    }
    .products {
        &__container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &__img {
            margin-right: 6%;
            width: 165px;
            height: 165px;
        }
        &__info {
            width: 375px;
        }
        &__title {
            font-size: 52px;
            line-height: 60px;
        }
    }
    .products-goods {
        img {
            width: 250px;
        }
        &__title {
            bottom: 90px;
            font-size: 26px;
            line-height: 32px;
        }
        &__price {
            margin-top: 0;
            padding-bottom: 15px;
        }
        &__button {
            padding: 7px 34px;
            font-size: 16px;
            line-height: 21px;
        }
        .swiper-wrapper {
            padding-bottom: 100px;
        }
    }
    .way {
        .container {
            padding: 100px 70px 300px 70px;
        }
        &__title {
            font-size: 52px;
            line-height: 60px;
        }
        &__promo {
            &::after {
                width: 600px;
                height: 551px;
                top: 0px;
                left: 385px;
            }
        }
    }
    .promo-nut {
        padding: 94px 11% 100px 70px;
        &__title {
            font-size: 52px;
            line-height: 60px;
        }
        &__prewiev {
            font-size: 32px;
            line-height: 38px;
        }
    }
    .enumeration-nut {
        &__text {
            font-size: 18px;
            line-height: 26px;
        }
        &__item {
            padding-top: 24px;
            font-size: 32px;
            line-height: 38px;
        }
    }
    .soul {
        .container {
            padding-top: 70px;
            padding-bottom: 70px;
            width: 600px;
        }
        &__box {
            padding: 0;
            & + .soul__box {
                margin-left: 65px;
            }
        }
    }
    .store {
        .container {
            padding: 100px 70px 200px 70px;
        }
        &__title {
            width: 200px;
            font-size: 52px;
            line-height: 60px;
        }
        &__text {
            width: 250px;
        }
        &::after {
            width: 700px;
            height: 570px;
            top: 121px;
            left: 336px;
        }
        &::before {
            width: 190px;
            height: 190px;
            left: 220px;
            top: 33px;
        }
    }
    .halva {
        &__promo {
            padding: 70px 60px 80px 70px;
            .halva__btn {
                width: 258px;
            }
        }
        &__title {
            width: 70%;
            padding-bottom: 49px;
            font-size: 52px;
            line-height: 60px;
            &-text {
                padding-bottom: 41px;
                font-size: 32px;
                line-height: 38px;
            }
        }
        &__btn {
            padding: 5px 35px;
        }
        &__gift {
            max-width: 300px;
            &::before {
                top: 87px;
                width: 100px;
                height: 223px;
            }
            &-text {
                font-size: 32px;
                line-height: 38px;
            }
            .halva__btn {
                min-width: 225px;
            }
        }
    }
    .bite {
        .container {
            padding: 100px 70px 180px 70px;
        }
        &::before {
            width: 190px;
            height: 190px;
            left: 220px;
            top: 33px;
        }
        &::after {
            width: 600px;
            height: 539px;
            left: 384px;
            top: 92px;
        }
        &__title {
            font-size: 52px;
            line-height: 60px;
        }
        &__text {
            width: 250px;
        }
        &__btn {
            width: 258px;
            padding: 5px 35px;
        }
    }
    .recipes {
        &__wrapper-text {
            margin-right: 5%;
            padding-top: 30px;
            padding-bottom: 70px;
        }
        &__title {
            font-size: 52px;
            line-height: 60px;
        }
        &__dish {
            padding-top: 25px;
        }
        &__name {
            font-size: 32px;
            line-height: 38px;
        }
    }
}

@media(max-width: 768px) {
    .header {
        &__logo {
            width: 80px;
            top: 50px;
        }
        &__item {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .promo {
        &__title {
            font-size: 58px;
        line-height: 64px;
        width: 500px;
        }
    }
    .promo-nut {
        padding: 94px 7% 100px 70px;
        &__title {
            width: 270px;
        }
    }
    .soul {
        .container {
            width: 500px;
        }
    }
    .store {
        .container {
            padding-bottom: 170px;
        }
    }
    .halva {
        &__promo {
            margin-right: 20px;
            padding: 70px 30px 50px 70px;
            .halva__btn {
                width: 235px;
            }
        }
        &__gift {
            max-width: 250px;
            .halva__btn {
                min-width: 200px;
                padding: 16px 20px;
            }
            &::before {
                top: 57px;
            }
        }
    }
    .bite {
        .container {
            padding-bottom: 160px;
        }
    }
}

@media(max-width: 620px) {
    .header {
        &__toggle {
            display: block;
            position: absolute;
            top: 30px;
            right: 0px;
            width: 22px;
            height: 20px;
            cursor: pointer;
            & span {
                position: absolute;
                display: block;
                width: 22px;
                height: 2px;
                top: 50%;
                background-color: #000;
                -webkit-transition: all ease .3s;
                -o-transition: all ease .3s;
                transition: all ease .3s;
                &::after, &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    transition-property: top;
                    transition-duration: .3s;
                    transition-delay: .3s;
                }
                &::before {
                    top: -6px;
                }
                &::after {
                    top: 6px;
                }
            }
            &.active {
                span {
                    background-color: transparent;
                    &::before {
                        top: 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &::after {
                        top: 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &__list {
            position: absolute;
            flex-direction: column;
            right: 40px;
            top: 30px;
            text-align: right;
            transition: all ease .5s;
            transform: translateY(-170px);
            &.active {
                transform: translateY(0px);
            }
        }
        &__logo {
            top: 0;
        }
    }
    .promo {
        padding-top: 100px;
        &__title {
            font-size: 50px;
            line-height: 58px;
            width: 420px;
        }
        &__link {
            width: 45px;
            height: 44px;
        }
        &__btn {
            line-height: 23px;
        }
    }
    .products {
        &__img {
            width: 100px;
            height: 100px;
        }
        &__title {
            font-size: 38px;
            line-height: 45px;
        }
        &__info {
            width: 260px;
        }
    }
    .products-goods {
        .swiper-slide:nth-child(odd) {
            padding-top: 60px;
        }
        img {
            width: 200px;
        }
        &__title {
            bottom: 80px;
            font-size: 22px;
            line-height: 26px;
        }
        &__price {
            font-size: 19px;
            line-height: 24px;
        }
        &__button {
            padding: 7px 22px;
        }
    }
    .way {
        .container {
            padding: 100px 70px 200px 40px;
        }
        &__title {
            font-size: 38px;
            line-height: 45px;
        }
        &__text {
            width: 260px;
        }
        &__promo {
            &::after {
                width: 500px;
                height: 459px;
                left: 270px;
            }
        }
    }
    .nut {
        .container {
            flex-direction: column;
        }
    }
    .promo-nut {
        padding: 55px 7% 70px 40px;
        &::after {
            position: absolute;
            width: 200px;
            height: 302px;
            bottom: -108px;
            right: -73px;
        }
        &__prewiev {
            font-size: 28px;
            line-height: 32px;
            .carry {
                display: inline-block;
            }
        }
        &__title {
            padding-bottom: 33px;
            font-size: 38px;
            line-height: 45px;
        }
        &__text {
            width: 100%;
        }
    }
    .enumeration-nut {
        padding: 70px 0 70px 40px;
        &__item {
            padding-top: 20px;
            font-size: 28px;
            line-height: 32px;
        }
    }
    .soul {
        .container {
            width: 300px;
        }
        &__wrapper {
            &.show {
                flex-direction: column;
                margin-top: 60px;
            }
        }
        &__box {
            & + .soul__box {
                margin-left: 0;
                margin-top: 150px;
                margin-bottom: 40px;
            }
            &::before {
                top: -114px;
            }
        }
    }
    .store {
        .container {
            padding: 70px 70px 180px 40px;
        }
        &__promo {
            padding-top: 50px;
        }
        &__title {
            font-size: 38px;
            line-height: 45px;
        }
        &::before {
            width: 120px;
            height: 120px;
        }
        &::after {
            width: 550px;
            height: 448px;
            top: 75px;
            left: 282px;
        }
    }
    .halva {
        .container {
            flex-direction: column;
        }
        &__wrapper {
            margin-right: 0;
            &::before {
                position: absolute;
                top: -14px;
                right: -110px;
            }
        }
        &__promo {
            margin-right: 100px;
            padding-left: 40px;
            .halva__btn {
                width: 255px;
            }
        }
        &__title {
            padding-bottom: 33px;
            font-size: 38px;
            line-height: 45px;
            &-text {
                padding-bottom: 14px;
                font-size: 28px;
                line-height: 32px;
            }
        }
        &__gift {
            margin-left: 26%;
            max-width: fit-content;
            padding: 254px 50px 55px;
            &::before {
                width: 75px;
                height: 167px;
            }
            &-text {
                font-size: 28px;
                line-height: 32px;
            }
        }
    }
    .bite {
        .container {
            padding: 70px 70px 180px 40px;
        }
        &::before {
            width: 120px;
            height: 120px;
        }
        &::after {
            width: 530px;
            height: 476px;
            left: 306px;
            top: 58px;
        }
        &__promo {
            padding-top: 50px;
        }
        &__title {
            width: 287px;
            font-size: 38px;
            line-height: 45px;
        }
    }
    .recipes {
        &__wrapper-text {
            margin-right: 0;
            margin-left: 40px;
            padding-bottom: 50px;
            padding-right: 40px;
            width: fit-content;
        }
        &__title {
            font-size: 38px;
            line-height: 45px;
        }
        &__name {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

@media(max-width: 500px) {
    .header {
        &__logo {
            top: 30px;
            left: 40px;
            width: 56px;
            height: 74px;
        }
        &__item {
            line-height: 15px;
        }
    }
    .promo {
        padding-top: 70px;
    }
    .products {
        &__container {
            padding-bottom: 20px;
        }
    }
    .promo-nut {
        &::after {
            width: 175px;
            height: 265px;
        }
    }
    .halva {
        &__wrapper {
            &:before {
                right: -125px;
                top: 0;
                width: 140px;
                height: 229px;
            }
        }
        &__title {
            width: 100%;
        }
    }
}

@media(max-width: 425px) {
    .header {
        &__container {
            width: 87.5%;
        }
        &__toggle {
            top: 20px;
        }
        &__logo {
            top: 20px;
            left: 30px;
        }
        &__list {
            top: 20px;
        }
        &__item {
            font-size: 10px;
            line-height: 12px;
        }
    }
    .promo {
        padding-top: 50px;
        &__title {
            padding-bottom: 180px;
            font-size: 38px;
            line-height: 44px;
            width: 300px;
        }
        &__link {
            left: 20px;
            width: 34px;
            height: 34px;
        }
        &__cookes {
            width: 220px;
            margin-right: 20px;
            padding: 8px 10px 8px 17px;
        }
        &__btn {
            padding: 0px 16px;
            line-height: 18px;
        }
    }
    .products {
        &__info {
            width: 200px;
        }
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
    }
    .products-goods {
        .swiper-slide:nth-child(odd) {
            padding-top: 30px;
        }
    }
    .way {
        .container {
            padding: 75px 40px 140px 40px;
        }
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__text {
            width: 212px;
        }
        &__btn {
            padding: 5px 45px;
        }
        &__promo {
            &::after {
                width: 450px;
                height: 413px;
                left: 230px;
            }
        }
    }
    .promo-nut {
        margin-right: 0;
        &::after {
            width: 147px;
            height: 223px;
            bottom: -99px;
            right: 0;
        }
        &__title {
            padding-bottom: 25px;
            font-size: 32px;
            line-height: 40px;
            width: 250px;
        }
        &__prewiev {
            font-size: 24px;
            line-height: 28px;
        }
        &__btn {
            padding: 5px 46px;
        }
    }
    .nut {
        .container {
            padding-right: 20px;
        }
    }
    .soul {
        .container {
            width: 280px;
        }
    }
    .store {
        .container {
            padding: 70px 40px 100px 40px;
        }
        &__title {
            width: 150px;
            font-size: 32px;
            line-height: 40px;
        }
        &__text {
            width: 200px;
        }
        &__btn {
            padding: 5px 45px;
        }
        &::after {
            left: 218px;
            width: 490px;
            height: 400px;
        }
        &::before {
            left: 154px;
            top: 47px;
            width: 100px;
            height: 100px;
        }
    }
    .halva {
        &__wrapper {
            &::before {
                position: static;
            }
        }
        &__promo {
            margin-right: 5%;
            .halva__btn {
                width: 220px;
            }
        }
        &__title {
            font-size: 32px;
            line-height: 40px;
            &-text {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &__gift {
            margin-left: 15%;
            &-text {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
    .bite {
        .container {
            padding: 75px 40px 140px 40px;
        }
        &__title {
            width: 187px;
            font-size: 32px;
            line-height: 40px;
        }
        &__text {
            width: 200px;
        }
        &__btn {
            width: 220px;
        }
        &::before {
            left: 173px;
            top: 47px;
            width: 100px;
            height: 100px;
        }
        &::after {
            width: 450px;
            height: 404px;
            left: 239px;
            top: 70px;
        }
    }
    .recipes {
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__name {
            font-size: 20px;
            line-height: 24px;
        }
    }
}